<div class="account-page__user-form-fields">
    {{{ firstNameField }}}
    {{{ secondNameField }}}
    {{{ displayNameField }}}
    {{{ loginField }}}
    {{{ emailField }}}
    {{{ phoneField }}}
</div>
{{{ button }}}