<div class="page-placeholder {{ classList }}">
  <div class="container page-placeholder__container">
    <div class="page-placeholder__caption">{{ codeStatus }}</div>
    <h1 class="h1 page-placeholder__title">{{ title }}</h1>
    <div class="page-placeholder__text">{{ text }}</div>
    {{{ button }}}
  </div>
</div>