<div class="registration-page__form-fields">
    {{{ firstNameField }}}
    {{{ secondNameField }}}
    {{{ loginField }}}
    {{{ emailField }}}
    {{{ phoneField }}}
    {{{ passwordField }}}
</div>
{{{ button }}}